<div class="row-full popup__wrapper" id="preloader">
  <div class="preloader__wrapper" style="text-align: center;
    padding-top: 20%;"><img src="/assets/img/loading-spin.svg">
  </div>
</div>

<!--<header id="header">

</header>-->
 <aside class="winilla_cab_publish__sidebar" small="2">
    <h2 style="margin-left: 10px;">Меню</h2>
    <button class="btn winilla_cab_publish__btn--width hidePage" >Скрытые</button>
    <button class="btn winilla_cab_publish__btn--width preparePage" >В ожидании</button>
    <button class="btn winilla_cab_publish__btn--width activePage" >Активированные</button>
    <button class="btn winilla_cab_publish__btn--width listPage">Список</button>
    <div class="custom-select-wrapper">
      <select name="sources" id="sources" class="custom-select sources" placeholder="Выбрать город" style="margin-left: 10px; display: none;">
        <option value="kazan">Казань</option>
        <option value="samara">Самара</option>
        <option value="moscow">Москва</option>
      </select>
      <div class="custom-select sources"><span class="custom-select-trigger">Выбрать город</span>
        <div class="custom-options">
          <span class="custom-option undefined selection" data-value="kazan">Казань</span>
          <span class="custom-option undefined" data-value="samara">Самара</span>
          <span class="custom-option undefined" data-value="moscow">Москва</span>
        </div>
      </div>
    </div>
 </aside>
 <div id="content" row-full></div>
  <section class="table" style="margin-top: 80px; margin-left: 300px;" small="9">

  </section>

