

//Button primary


.btn
	width: $btn-size-medium
	background: $btn-primary-backround-color
	text-align: $btn-text-align
	font-family: $body-font-family
	border-radius: $btn-radius
	line-height: $btn-line-height
	font-size: $btn-font-size
	color: $btn-text-color
	text-align: $btn-text-align
	height: $btn-size-medium / 2
	border: none
	outline: none
	padding: $indent/2
	
	&:hover
		background: darken($btn-primary-backround-color, 50%)
	

//Button access

.btn-access
	background: $btn-access-backround-color

	&:hover
		background: darken($btn-access-backround-color, 50%)

	


//Button alert		


.btn-alert
	background: $btn-alert-backround-color

	&:hover
		background: darken($btn-alert-backround-color, 50%)




//Button prepare


.btn-prepare
	background: $btn-prepare-backround-color

	&:hover
		background: darken($btn-prepare-backround-color, 50%)



//Button size tiny

.btn-tiny
	width: $btn-size-tiny
	height: $btn-size-tiny / 2

//Button size large

.btn-large
	width: $btn-size-large
	height: $btn-size-large / 2

//Button size large-x

.btn-large-x
	width: $btn-size-large-x
	height: $btn-size-large-x / 2

//Button active

.btn-active
  
  &:active
	box-shadow: $btn-active-inset-shadow

.btn-shadow
  
  &:hover
	background: $white
	border: $blue
	color: $blue


//Button center
.btn-center
	width: 50%
	margin: 0 auto

