

//Button primary


.btn
  background: $btn-primary-background-color
  @include type($btn-font-size, $btn-font-color)
  text-align: $btn-text-align
  border-radius: $btn-radius
  border: none
  outline: none
  padding: $indent/2
	
  &:hover
    background: darken($btn-primary-background-color, 50%)
	

//Button access

.btn-access
  background: $btn-access-background-color

  &:hover
    background: darken($btn-access-background-color, 50%)

	


//Button alert		


.btn-alert
  background: $btn-alert-background-color

  &:hover
    background: darken($btn-alert-background-color, 50%)




//Button prepare


.btn-prepare
  background: $btn-prepare-background-color

  &:hover
    background: darken($btn-prepare-background-color, 50%)



//Button size tiny

.btn-tiny
  width: $btn-size-tiny
  height: $btn-size-tiny / 2

//Button size large

.btn-large
  width: $btn-size-large
  height: $btn-size-large / 2

//Button size large-x

.btn-large-x
  width: $btn-size-large-x
  height: $btn-size-large-x / 2



//Button center
.btn-center
  width: 50%
  margin: 0 auto

.shadow-btn
  background: rgba(0,0,0,0)
  @include type($btn-font-size, $blue)
  border: 1px solid $blue
  transition: all 1s

  &:hover
    background: $blue
    color: $white

