

//Button primary


.btn
  background: $btn-primary-background-color
  @include type($btn-font-size, $btn-font-color)
  text-align: $btn-text-align
  border-radius: $btn-radius
  border: 1px solid $btn-primary-background-color
  outline: none
  padding: $indent/2
  transition: all 0.5s
  cursor: pointer
  margin: 
    top: $indent/2
    bottom: $indent/2
  display: inline-block
	
  &:hover
    border: 1px solid $btn-primary-background-color
    background: darken($btn-primary-background-color, 10%)
	

//Button access

.btn--access
  background: $btn-access-background-color
  border: 1px solid $btn-access-background-color

  &:hover
    border: 1px solid $btn-access-background-color
    background: darken($btn-access-background-color, 10%)
    
	


//Button alert		


.btn--alert
  background: $btn-alert-background-color
  border: 1px solid $btn-alert-background-color


  &:hover
    border: 1px solid $btn-alert-background-color
    background: darken($btn-alert-background-color, 10%)




//Button prepare


.btn--prepare
  background: $btn-prepare-background-color
  border: 1px solid $btn-prepare-background-color

  &:hover
    border: 1px solid $btn-prepare-background-color
    background: darken($btn-prepare-background-color, 10%)


//Shadow button

.btn--shadow
  background: rgba(0,0,0,0)
  @include type($btn-font-size, $priamary-color)
  border: 1px solid $priamary-color
  transition: all 0.4s

  &:hover
    background: $priamary-color
    color: $third-color

//Button size tiny

.btn--tiny
  width: $btn-size-tiny

  
.btn--medium
  width: $btn-size-medium

//Button size large

.btn--large
  width: $btn-size-large
  

//Button size large-x

.btn--large-x
  width: $btn-size-large-x
  



//Button center
.btn--center
  width: 50%
  margin: 0 auto



