.btn-group > .btn
  display: inline-block
  float: left
  margin: $indent/2 2px
  
.btn-group
  
  &:after
    @include clearfix


.round > .btn

  &:nth-child(1)
    border-bottom-left-radius: 1000px
    border-top-left-radius: 1000px
  
  &:last-child(1)
    border-bottom-left-radius: 1000px
    border-top-left-radius: 1000px