$row-width: 1200px !default
$column-count: 12 !default
$indent: 30px  !default
$size: percentage(1/$column-count)
$medium: 900px !default 
$large: 1200px !default

//
*,html,body
  -moz-box-sizing: border-box
  box-sizing: border-box

ul, li
  list-style: none


.row-full
  width: 100%
  
  &:after
    @include clearfix
  
  
.row
  max-width: $row-width
  margin: 0 auto

  &:after
    @include clearfix
  
  .row
    margin:
      left: - $indent/2
      right: - $indent/2


.column, .columns
  float: left
  padding:
    left: $indent/2
    right: $indent/2 


@for $i from 1 through $column-count
  .small-#{$i}
    width: $size * $i
    
@for $i from 0 through $column-count - 1
  .small-offset-#{$i}
    margin:
      left: $size * $i


@media (min-width: $medium)
  @for $i from 1 through $column-count
    .medium-#{$i}
      width: $size * $i
    
  
  @for $i from 0 through $column-count - 1
    .medium-offset-#{$i}
      margin:
        left: $size * $i


@media (min-width: $large)
  @for $i from 1 through $column-count
    .large-#{$i}
      width: $size * $i
  
      
  @for $i from 0 through $column-count - 1
    .large-offset-#{$i}
      margin:
        left: $size * $i


.medium-centerd
  margin: 0 auto
  clear: both
  float: none

.large-centerd
  @extend .medium-centerd

.small-centerd
  @extend .medium-centerd