h1,h2,h3,h4,h5,h6
  @include type($header-font-size, $header-font-color)
  margin:
    top: $indent/2
    bottom: $indent/2

p
  @include type($paragraph-font-size, $paragraph-font-color)
  margin:
    top: $indent/2
    bottom: $indent/2
  
