<!DOCTYPE html>
html(lang="en")
  head
    script(src="../assets/js/jquery-2.1.1.min.js")
    script(src="../assets/js/popup.js")
    script(src="../assets/js/action.js")
    script(src="../assets/js/slider.js")
    meta(charset="UTF-8")
    title Document
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../public/css/scaffolding.css")


  body#wrap
    block content
